<template>
  <div>
    <p></p>
    <div class="row"></div>
    <!-- <hr class="section-divider"> -->
    <p v-if="!isValidUrl"> {{tweet}}
    </p>
    <img v-else :src="tweet"/>
    <hr class="section-divider">
    </div>
</template>

<script>  
// import CardComponent from '@/components/elements/CardComponent'
export default {
  name: 'TweetCard',
  components: {
    // CardComponent
  },
  props: {
    tweet: String,
    default: new String("Default Tweet")
  },
  data () {
    return {
    }
  },
  computed: {
    isValidUrl () {
          try { 
            return Boolean(new URL(this.tweet)); 
          } catch(e){ 
            return false; 
          }
        }
  },
  mounted () {
    
  }
}
</script>

<style scoped>
.jobs-outer /deep/ .b-sidebar{
  width:70vw
}
.job-card-bottom-info{
  width:9em;
}
@media screen and (max-width: 992px){
  .job-card-bottom-text{
    font-size: 0.9em;
  }
  .job-card-bottom-info{
    width:8em;
  }
}
@media screen and (max-width: 768px){
  .job-card-bottom-text{
    font-size: 0.8em;
  }
  .job-card-bottom-info{
    width:8em;
  }
  .jobs-outer /deep/ .b-sidebar{
    width:80vw
  }
}
@media screen and (max-width: 576px){
  .job-card-bottom-text{
    font-size: 0.7em;
  }
  .job-card-bottom-info{
    width:8em;
  }
  .jobs-outer /deep/ .b-sidebar{
    width:95vw
  }
}
.truncate{
  max-height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr.section-divider {
    margin-top: 12px;
    display: block;
    border: 0;
    text-align: center;
    overflow: visible;
}
hr.section-divider::before {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-family: medium-content-slab-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    letter-spacing: .6em;
    content: '...';
    display: inline-block;
    margin-left: 0.6em;
    color: rgba(0,0,0,.68);
    position: relative;
    top: -30px;
}
</style>
