<template>
   <div>
    <!-- <AuthorComponent/> -->
    <!-- <div class="entry-meta align-items-center">
                <a class="author-avatar" href="https://twitter.com/LegacyBuilder__"><img src="https://pbs.twimg.com/profile_images/1554675540354912256/YtiMQCUg_bigger.jpg" alt="@LegacyBuilder__ - Legacy Builder"></a>
                <a :href="profileImageUrl">Legacy Builder</a> at <a :href="statusUrl"><strong>@</strong>author.screen_name</a><br>
                <span>13 Tweets</span>
                <span class="middotDivider"></span>
                <span class="readingTime" title="2 minutes, 28 seconds min read">2 minutes, 28 seconds read</span>
                <span class="svgIcon svgIcon--star">
                    <svg class="svgIcon-use" width="15" height="15">
                        <path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z"></path>
                    </svg>
                </span>
            </div> -->

  <!-- <img data-v-4622290e="" src="https://twitter.com/MelzShawn/status/1465022718697431048/photo/1"> -->
  
    <div class="entry-header">
        <div class="mb-5">
            <div class="entry-meta align-items-center">
                <a class="author-avatar" :href="profileImageUrl">
                  <img :src="profileImageUrl" alt="@LegacyBuilder__ - Legacy Builder"></a>
                <a :href="'https://twitter.com/' + author.screen_name"></a> at <a :href="'https://twitter.com/' + author.screen_name"><strong>@</strong>{{statusUrl}}</a><br>
                <span>{{tweets ? tweets.length : ""}} tweets</span>
            </div>
        </div>
    </div> <!--end single header-->
  <!-- Tweets -->
   <div class="align-left">
      <div class="card mb-4">
        <div class="">
          <TweetCard
            :key="originalTweet.id"
            :tweet="originalTweet.text"
          />
          <TweetCard
            v-for="tweet in tweetData.tweets || []"
            :key="tweet.id"
            :tweet="tweet.text"
          />
        </div>
      </div>
    </div> 

    <div class="box box-author m_b_2rem">
            <div class="post-author row-flex">
                <div class="author-img">
                    <img alt="author avatar" :src="profileImageUrl" class="avatar">
                </div>
                <div class="author-content">
                <div class="top-author">
                    <h5 class="heading-font"><a href="https://twitter.com/LegacyBuilder__" :title="'@'+ author.screen_name + '-' + author.screen_name" rel="author">Legacy Builder</a></h5></div>
                    <div class="content-social-author">
                                                                    <a target="_blank" class="author-social" href="https://twitter.com/LegacyBuilder__">Followers {{author.followers_count > 1000 ? author.followers_count : author.followers_count / 1000 + 'k'}}</a>
                                                                    <!-- <a target="_blank" class="author-social" href="https://twitter.com/LegacyBuilder__">Following 504</a> -->
                                                                </div>
                    <!-- <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet ut ligula et semper. Aenean consectetur, est id gravida venenatis.</p> -->
                    <div class="content-social-author">
                        <!-- <a target="_blank" class="author-social" href="#">Facebook </a> -->
                        <a target="_blank" class="author-social" href="https://twitter.com/LegacyBuilder__">Twitter : @{{author.screen_name}}</a>
                        <!-- <a target="_blank" class="author-social" href="#"> Google + </a> -->
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>
<script>
import api from '@/api'
import TweetCard from '@/components/elements/TweetCard'
export default {
  name: 'TweetComponent',
  components: {
    TweetCard
  },
  props: {
    jobId: {
      type: Number,
      default: null
    },
    show: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
        tweetData: {},
        author: {},
        tweets: [],
        profileImageUrl: '',
        statusUrl: '',
        originalTweet: {},
    }
  },
  async mounted () {
    try {
        let [tweetData, originalTweet] = await Promise.all([api.fetchPaginatedThreads(this.jobId), api.fetchOriginalTweet(this.jobId)])
        this.tweetData = tweetData 
        this.originalTweet = originalTweet
        this.getData(this.tweetData)
    } catch (err) {
      // console.log(err)
      // console.log('Error fetching job details')
    }
  },
  methods: {
    getData (tweetData) {
      this.author = tweetData.author
      this.tweets = tweetData.tweets
      this.profileImageUrl = tweetData.author.profile_image_url_https
      this.statusUrl = tweetData.author.profileImageUrl
      
    }
  }
}
</script>
<style scoped>
.social-icons{
  box-shadow: 0 10px 15px 0 rgba(35, 55, 77, 0.08);
  border-radius: 50%;
}
.job-card-bottom-info{
  width:8em;
}
.job-card-bottom-text{
  font-size: 0.9em;
}
@media screen and (max-width: 992px){
  .job-card-bottom-text{
    font-size: 0.8em;
  }
  .job-card-bottom-info{
    width:8em;
  }
}
@media screen and (max-width: 768px){
  .job-card-bottom-text{
    font-size: 0.8em;
  }
  .job-card-bottom-info{
    width:8em;
  }
}
@media screen and (max-width: 576px){
  .job-card-bottom-text{
    font-size: 0.6em;
  }
  .job-card-bottom-info{
    width:5em;
  }
}
.align-left {
  display: flex;
  justify-content: flex-start;
  /* text-align: left; */
}
.gallery /deep/ .close {
  color: white;
}
</style>
