<template>
  
<div id="wrapper">
    <header id="header" class="d-lg-block d-none">
        <div class="container">    
          <h1 class="logo float-left navbar-brand"><a href="/" class="logo">Techminis Unroll Thread</a></h1>
        </div>
    </header>
<main id="content">
  <div class="container">


    <TweetComponent :job-id="conversationId"/>
          



  </div>
</main>
</div>
</template>

<script>
import TweetComponent from '@/components/elements/TweetComponent'

export default {
  components: {
    TweetComponent
  },
  props: {
    conversationId: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      
    }
  }
}
</script>
<style scoped>
.d-lg-block {
    display: block !important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.entry-main-content {
    line-height: 1.7;
    font-size: 1.25rem;
    margin-bottom: 4rem;
}
#content {
    max-width: 100%;
    padding-top: 2rem;
}
#wrapper {
  padding-left: 15em;
  padding-right: 15em;
  /* display: flex; */
  text-align: left;
  line-height: 1.7;
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  color: #000000d6;
  font-family: 'Lora', serif;
}
#header {
    position: relative;
    padding: 1rem 0 0 0;
    width: 100%;
    text-align: left;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 2px -2px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 2px -2px rgb(0 0 0 / 15%);
}

</style>
